@import '../utils/variables';

.flex {
  display: flex;
}

@each $name in $flexDirection {
  .flexDirection#{$name} {
    @extend .flex;
    flex-direction: $name
  }
}

@each $name in $flexWrap {
  .flexWrap#{$name} {
    flex-wrap: $name
  }
}

@each $name in $flexAlignItems {
  .alignItems#{$name} {
    align-items: $name
  }
}

@each $name in $flexAlignContent {
  .alignContent#{$name} {
    align-content: $name
  }
}

@each $name in $flexJustifyItems {
  .justifyItems#{$name} {
    justify-items: $name
  }
}

@each $name in $flexJustifyContent {
  .alignContent#{$name} {
    justify-content: $name
  }
}