@import '../utils/variables';

$paddingDefault: 16;
$paddingResponsive: calc(($paddingDefault * 1px) + ($paddingDefault * 0.01vh)) calc(($paddingDefault * 1px) + ($paddingDefault * 0.01vw));

$heightHeader: 20px;
$widthSidebar: calc(100px + 10vw);

$backgroundColorBody: $ColorBackground;
$backgroundColorHeader: $ColorSecondary;
$backgroundColorSidebar: $ColorPrimary;

$backgroundColorNavActive: $ColorSecondary;
$backgroundColorNavDefault: $ColorPrimary;
$linkColorNavDefault: #7b93a4;
$linkColorNavActive: $ColorSecondary;

.main {
  padding: 0;
  height: 100vh;
}

.body {
  @include flex(row, flex-start, flex-start);
  height: 100vh;
  position: relative;
}

.sidebar {
  width: $widthSidebar;
  overflow: hidden;

  transition: all .3s;

  &[class*="close"] {
    width: 0;
  }

  @media screen and (max-width: $breakpoint_max_md) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.sidebarContent {
  @include fixedHeight(100vh);
  background-color: $backgroundColorSidebar;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 2;

  @media screen and (max-width: $breakpoint_max_md) {
    width: 70%;
    position: absolute;
    top: 0;
  }
}

.sidebarOverlay {
  @include fixedHeight(100vh);
  display: none;
  z-index: 1;

  @media screen and (max-width: $breakpoint_max_md) {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.content {
  @include fixedHeight(100vh);
  @include flex(column, flex-start, flex-start);
  overflow: auto;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
}

.header {
  @include fixedWidth(100%);
  width: 100%;
  background-color: $backgroundColorHeader;

  >div {
    @include fixedHeight($heightHeader);
    @include flex(row, flex-start, flex-start);
    padding: $paddingResponsive;
  }
}

.children {
  @include fixedWidth(100%);
  @include fixedHeight(calc(100% - ($heightHeader + ((($paddingDefault * 1px) + ($paddingDefault * 0.01vh)) * 2))));
  background-color: $backgroundColorBody;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: inset 0 2px 6px 0 rgba(48, 82, 120, .2);

  >div {
    @include fixedHeight(100%);
    padding: $paddingResponsive;
  }
}

.linkItemsContainer {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    &[class$="active"] {
      a {
        border-right: solid 2px $linkColorNavActive;
        color: $linkColorNavActive;
      }
    }
  }

  a {
    text-decoration: none;
    padding: $paddingResponsive;
    display: flex;
    align-items: center;
    cursor: pointer;

    color: $linkColorNavDefault;
    background-color: $backgroundColorNavDefault;

    &:hover {
      color: $linkColorNavActive;
    }

    span {
      margin-right: calc(5px + .5vw);
    }
  }
}

.logo {
  @include flex(row, center, center);
  padding: $paddingResponsive;
}