@import '../utils/variables';

$sizeXs: 12;
$sizeSm: 14;
$sizeMd: 16;
$sizeLg: 18;
$sizeXl: 20;
$sizeXxl: 24;
$sizeXxxl: 30;
$sizeXxxxl: 36;
$sizeXxxxxl: 48;
$sizeXxxxxxl: 60;

$fontSize: (
    "xs" $sizeXs,
    "sm" $sizeSm,
    "md" $sizeMd,
    "lg" $sizeLg,
    "xl" $sizeXl,
    "xxl" $sizeXxl,
    "xxxl" $sizeXxxl,
    "xxxxl" $sizeXxxxl,
    "xxxxxl" $sizeXxxxl,
    "xxxxxxl" $sizeXxxxl,
);

@each $name, $size in $fontSize {
    .#{$name}{
        @include fontSize($size)
    }
}