$ColorPrimary: var(--primary);
$ColorSecondary: var(--secondary);
$ColorBackground: var(--background);

$colors: (
    'primary' $ColorPrimary,
    'secondary' $ColorSecondary,
    'background' $ColorBackground,
)